.statistics {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.statList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 50%;
  justify-content: space-between;
  max-width: 480px;
}

.title {
  padding: 15px 40px;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;

  padding: 24px;
  flex-grow: 1;

  padding: 20px 10px;
  box-shadow: 3px 3px 3px #808080;
}
.label {
  font-size: 14px;
  color: #808080;
}

.percentage {
  font-size: 20px;
}
